.contact {
    padding: 32px 0;

    color: var(--second-text-color);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }

    &-icon {
        margin-right: 10px;
        fill: currentColor;
    }

    &.line {
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
      
        transition: color var(--main-transition);
    }
}
  

  

  
