
.nav {
    margin-right: auto;

    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }
    
  }

  .nav-list.list-style > li:not(:last-child) {
    margin-right: 50px;
  }
  