.sign {
 display: block;
 

 @media screen and (min-width: 768px) {
  width: 450px;
  }
}


.sign-strong {
  display: block;
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--main-bgc-text);

  @media screen and (min-width: 1200px) {
    text-align: start;
    }

}

.form-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 20px;

    @media screen and (min-width: 1200px) {
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    gap: 12px;
    }

  }
  
.signup-label {
  max-width: 450px;
  text-align: center;

 
}


  .form-email {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    width: 100%;
    height: 50px;
    padding-left: 16px;

    // @media screen and (min-width: 768px) {
    //   width: 100%;
    //   }

    @media screen and (min-width: 1200px) {
      width: 358px;
      }
  
    color: var(--contacts-text-color);
    background-color: transparent;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
    transition: border-color var(--main-transition);

    &:hover,
    &:focus {
      outline: transparent;
      border-color: var(--accent-color);
    }

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        
        color: rgba(255, 255, 255, 0.6);
      }
  }

  .icon-sign {
    margin-left: 10px;
  }
 
  
