// Первый паршал


:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196f3;
    --main-bgc-text: #ffffff;
    --second-bgc-color: #f5f4fa;
    --third-bgc-color: #2f303a;
    --contacts-text-color: rgba(255, 255, 255, 0.6);
    --line-color: #ececec;
    --border-color: #eeeeee;
    --logo-text-color: #000000;
    --bgcolor-btn: #188ce8;
    --border-logo-color: #afb1b8;

    // --indent: 30px;
    // --items: 4;
  
    --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }