.benefits {
    

    & .list-style {
        justify-content: center;
    }

    &__list {
        gap: 30px;
    }

    &__title {
        width: 270px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.14;
        font-size: 14px;
      
        color: var(--primary-text-color);
    }

    &__text {
        width: 270px;
        line-height: 1.71;
        
        color: var(--second-text-color);
    }

    &-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
    
        background-color: var(--second-bgc-color); 
    }
} 
  
.list-style .benefits__title {
  margin-bottom: 10px;
}
  

  


