.card-work {
    width: 450px;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
        width: 354px; 
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        width: 370px;
        margin-right: 30px;
        margin-bottom: 30px;
    
        &:nth-child(3n) {
            margin-right: 0;
        }
          
        &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }  
    }


}
  
.card-thumb {
    position: relative;
    overflow: hidden;
}
  
.card-overlay {
    position: absolute;
    width: 100%;
    height: 294px;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
  
    transform: translateY(100%);
    transition: transform var(--main-transition);

    @media screen and (min-width: 1200px) {
    height: 294px; 
    }

}
   
.card-desc {
    position: absolute;
    top: 63px;
    left: 24px;
    width: 322px;

    & > p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;

        color: var(--main-bgc-text);
      }
}
  
.link-work {
    display: block;
  
    transition: box-shadow var(--main-transition);

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .card-overlay,
    &:focus .card-overlay {
    transform: translateY(0);
    }
}

.card.list-style {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) and (max-width: 1199px){
    justify-content: flex-start;
     gap: 30px;
     
    }

}
  
.border-exmp {
    padding: 20px 24px;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}
  
.card-img {
    display: block;
}
  
.title.exmp {
    margin-bottom: 4px;
    width: auto;
  
    font-weight: 700;
    font-size: 18px;
    text-transform: none;
    line-height: 2;
    text-align: start;
  
    color: var(--primary-text-color);
}
  
.text {
    width: 270px;
    line-height: 1.14;
  
    color: var(--second-text-color);
    

    &.exmp {
        width: auto;
      
        font-size: 16px;
        line-height: 1.88;
        text-align: start;
    }
}