
.customers {

    &__title {
      margin-bottom: 30px;

      @media screen and (max-width: 1199px) {
        font-size: 28px;
      line-height: 1.18;
      }

      @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
      }
    }

    &__list {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
  }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
              
        width: 210px;

        @media screen and (min-width: 768px) {
          width: 226px;
        }
  
        @media screen and (min-width: 1200px) {
          width: 170px;
        }

        height: 92px;
        border: 1px solid var(--border-logo-color);
        border-radius: 4px;
      
        color: var(--border-logo-color);
      
        transition: color var(--main-transition), border-color var(--main-transition);
    }

    &__link:hover,
    &__link:focus {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }

    &__icon {
      width: 106px;
      height: 60px;
      fill: currentColor;
    }
}

  

  

  

  