.footer {
        
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--third-bgc-color);

    &-box {
      
      flex-wrap: wrap;
      justify-content: center;

      @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        
      }

      @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
      }

      }
  }

  .footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 1.17;

    color: var(--accent-color);


    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }

  }

  .address-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      // margin-left: 76px;
      margin-right: 165px;
    }


    @media screen and (min-width: 1200px) {
      margin-left: 0;
      margin-right: 70px;
      margin-bottom: 0px;
      align-items: flex-start;
    }
    
  }

  .address-all {
    margin-top: 20px;
  }
  
  .address-style {
    list-style: none;
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }

  }
  
  .footer-logo-side,
  .address {
    color: var(--main-bgc-text);
  }
  
  .address-item:not(:last-child) {
    margin-bottom: 9px;

    @media screen and (max-width: 480px) {
      margin-bottom: 8px;
    }
  }
  
  .address,
  .mail,
  .tel {
    font-style: normal;
    line-height: 1.7;
    transition: color var(--main-transition);
  }
  
  .mail,
  .tel {
    color: var(--contacts-text-color);
  }
  
  .mail:hover,
  .mail:focus,
  .tel:hover,
  .tel:focus,
  .address:hover,
  .address:focus {
    color: var(--accent-color);
  }