.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;
    width: 450px;
    height: 609px;
    border-radius: 4px;
    z-index: 1000000;

    background-color: var(--main-bgc-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    
    @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
    }
}

.send {
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.03em;
      
        margin-bottom: 12px;
    }
      
    &__label {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 10px;
      
        &.textarea-label {
            margin-bottom: 20px;
       }
    }
    
    &__input {
        cursor: pointer;
      
        width: 100%;
        height: 40px;
        padding: 14px 15px 14px 42px;
      
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
      
        transition: border-color var(--main-transition);
      
        &:hover,
        &:focus {
          border-color: var(--accent-color);
          outline: transparent;
        }
    
        &:hover+.send__icon,
        &:focus+.send__icon {
          fill: var(--accent-color);
        }
    }
      
    &__name {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
      
        margin-bottom: 4px;
      
        color: var(--second-text-color);
    }
      
    &__icon {
        position: absolute;
        bottom: 11px;
        left: 12px;
      
        fill: var(--primary-text-color);
      
        transition: fill var(--main-transition);
    }

    &__feedback {
        width: 100%;
        height: 120px;
        padding: 12px 16px;
      
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
      
        transition: border-color var(--main-transition);
    
        &:hover,
        &:focus {
          border-color: var(--accent-color);
          outline: transparent;
        }
    }

}
  
textarea {
    resize: none;

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
      
        color: rgba(117, 117, 117, 0.5);
    }
}
  

  
.form-checkbox.custom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
  
.checkbox-custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    outline: 2px solid var(--logo-text-color);
    outline-offset: -2px;
    border-radius: 2px;
  
    transition: outline-color var(--main-transition), background-color var(--main-transition);

    .checkbox-input:checked + & {
        background-color: var(--accent-color);
        outline-color: var(--accent-color);
    }
}

.icon-checkmark {
    fill: var(--main-bgc-text);
    stroke: var(--main-bgc-text);
}
  
.policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    user-select: none;
  
    margin-left: 8px;
  
    color: var(--second-text-color);

    @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71; 
    }

    &__link {
        color: var(--accent-color);
    }

}
  
