.team {
    background-color: var(--second-bgc-color);

    &__title {
      margin-bottom: 30px;font-weight: 700;
      

      @media screen and (max-width: 1199px) {
        font-size: 28px;
      line-height: 1.18;
      }

      @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
      }
    }
    
    &__list {
      
      flex-wrap: wrap;
      justify-content: center;
        gap: 30px;
      }

    &__item {
      width: 450px;
      
      @media screen and (min-width: 768px) {
        width: 354px;
      }

      @media screen and (min-width: 1200px) {
        width: 270px;
      }

        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    &__undercard {
        padding-top: 30px;
        padding-bottom: 30px;
        
        background-color: var(--main-bgc-text);
        border-radius: 0px 0px 4px 4px;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        text-transform: none;
        text-align: center;
      }

      &__profession {
        text-align: center;
        font-size: 16px;
        line-height: 1.14;
      
        color: var(--second-text-color);   
      }
}
  
.list-style .team__name {
  margin-bottom: 10px;
}


  

  

  
